{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Registrar Empleado{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="w-full min-h-screen bg-white rounded-lg shadow-lg white-background">
  <div class="text-white p-4 rounded-t-lg flex items-center justify-between mx-2" style="background-color: #000000;">
    <div class="flex items-center">
        <a href="./dashboard" class="mr-4 hover:text-gray-300">
            <i class="fas fa-arrow-left text-2xl"></i>
        </a>
        <h1 class="text-xl font-bold" style="color: white;">Consultar estado de reclamo/queja</h1>
    </div>
    <img src="{{ url_for('static', filename='assets/img/mymblack.png') }}" 
         alt="Logo M&M" 
         class="h-8 md:h-10" />
  </div>

</div>


{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}
