{% extends 'public/login/base_login.html' %}

{% block title %}Crud con Python 🐍 | crear cuenta{% endblock %}

{% block body %}
<div class="header-content">
  <h1 class="t2">Atención de quejas y reclamos</h1>
</div>
<div class="container-xxl registro">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <div class="card">
        <div class="card-body">
          <div class="app-brand justify-content-center">
            <span class="app-brand-logo">
              <img class="logo" src="{{ url_for('static', filename='assets/img/logoMyM.png') }}" alt="Logo" />
            </span>
          </div>

          <form class="mb-3" action="{{ url_for('cpanelResgisterUserBD') }}" method="POST">
            <div class="mb-3">
              <label for="name_surname" class="form-label">Nombre y apellido</label>
              <div class="input-group input-group-merge flex items-center bg-white p-2 rounded-md mb-2 border border-gray-200 focus-within:border-blue-400 focus-within:ring-2 focus-within:ring-blue-200 transition-all duration-200">
                <i class="fas fa-user text-blue-800 mr-2"></i>
                <input type="text" 
                class="form-control border-0 flex-1 bg-transparent outline-none h-8" 
                name="name_surname" 
                placeholder="Ingrese nombre y apellido" 
                required autofocus />
              </div>
            </div>
            <div class="mb-3">
              <label for="email_user" class="form-label">RUC o DNI</label>
              <div class="input-group input-group-merge flex items-center bg-white p-2 rounded-md mb-2 border border-gray-200 focus-within:border-blue-400 focus-within:ring-2 focus-within:ring-blue-200 transition-all duration-200">
                <i class="fas fa-envelope text-blue-800 mr-2"></i>
                <input type="number"
                 class="form-control border-0 flex-1 bg-transparent outline-none h-8" 
                 name="ruc_user" 
                 placeholder="RUC o DNI"
                 required />
              </div>
            </div>

            <div class="mb-3 form-password-toggle">
              <label class="form-label" for="pass_user">Clave</label>
              <div class="input-group input-group-merge flex items-center bg-white p-2 rounded-md border border-gray-200 focus-within:border-blue-400 focus-within:ring-2 focus-within:ring-blue-200 transition-all duration-200">
                <input type="password" 
                class="form-control border-0 flex-1 bg-transparent outline-none h-8" 
                name="pass_user" 
                id="pass_user" 
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" 
                aria-describedby="password" 
                required />
                <span class="input-group-text cursor-pointer border-0 bg-transparent h-8 flex items-center" id="togglePassword">
                  <i class="bx bx-hide text-lg"></i>
                </span>
              </div>
            </div>

            <button class="btn btn-primary w-100">
              Crear cuenta
              <i class="bi bi-arrow-right-circle"></i>
            </button>
          </form>

          <div class="text-center">
            <a href="{{ url_for('inicio') }}" class="d-flex align-items-center justify-content-center login-v" style="color: #707275;">
              <span class="login-content">
                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                volver
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center m-5">
    <p class="mt-8 text-xs" style="color: white; font-size: 2.5vh;">
      © 2025 M&M. Todos los derechos reservados.
    </p>
  </div>
</div>

<script>
  const togglePassword = document.getElementById('togglePassword');
  const passwordField = document.getElementById('pass_user');

  togglePassword.addEventListener('click', function () {
    const type = passwordField.type === 'password' ? 'text' : 'password';
    passwordField.type = type;

    this.innerHTML = type === 'password' 
      ? '<i class="bx bx-hide text-lg"></i>' 
      : '<i class="bx bx-show text-lg"></i>';
  });
</script>

{% endblock %}
